<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043936782802-36kj2qj4eriqgrg6k2d8eih4b1j1iamf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043936782802-36kj2qj4eriqgrg6k2d8eih4b1j1iamf</string>
	<key>API_KEY</key>
	<string>AIzaSyBL8WymdTeTt1aYGcdJkEiG6bLbc9fEswY</string>
	<key>GCM_SENDER_ID</key>
	<string>1043936782802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Athanasios-Canko.snapchat-clone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-f554b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-f554b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043936782802:ios:cdb98fd87d42a27860c00b</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-clone-f554b.firebaseio.com</string>
</dict>
</plist>